* {
  outline: 1px solid red;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator-container {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: grey;
  padding: 10px;
  gap:20px;
}

.buttons-container {
  display: flex;
  flex-wrap: wrap;
}